<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bexton.UsbMassStorageToggle"
    android:versionCode="2"
    android:versionName="@string/AppVersion"
    >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:icon="@drawable/usbdroid_blue"
        android:label="@string/AppName"
        android:theme="@style/StyleMain"
        >
        
        <activity
            android:label="@string/AppName"
            android:name="net.bexton.UsbMassStorageToggle.UsbMassStorageToggleActivity"
        	android:theme="@style/StyleMain"
        	android:launchMode="singleInstance"
        	>
        	
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.bexton.UsbMassStorageToggle.UmsPreferencesActivity"
        	android:theme="@style/StylePrefs"
        	android:launchMode="singleInstance"        	
        	>             
        </activity>        
        
	    <receiver android:name="net.bexton.UsbMassStorageToggleActivity">
	       <intent-filter>
	           <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
	        </intent-filter>
	    </receiver>
	        	    
		<receiver android:enabled="true" android:name="net.bexton.UsbMassStorageToggle.BootUpReceiver"
		    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">		
	        <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED" />
	                <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
		</receiver>	           
    </application>  
</manifest>